.flatAd {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /*height: 120px;*/
    min-height: 170px;
    text-decoration: none;
    cursor: default;
}

.flatAd__img {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flatAd__img img {
    width: 100%;
    border: 1px solid #DCDCDC;
}

.flatAd__text {
    margin-left: 20px;
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    font-family: 'Roboto', sans-serif;

}

.flatAd__title {
    color: #000000;
    cursor: pointer;
}

.flatAd__price {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}

.flatAd__description {
    font-size: 15px;
    color: #808080;
}

.flatAd__location {
    font-size: 15px;
    color: #808080;
}